$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-beneficios: unquote('"\\e918"');
$icon-envelope-1: unquote('"\\e922"');
$icon-message-3-text: unquote('"\\e924"');
$icon-circle-user-regular: unquote('"\\e926"');
$icon-telefone: unquote('"\\e927"');
$icon-relogio-e-calendario: unquote('"\\e928"');
$icon-map-marker-1: unquote('"\\e929"');
$icon-tag2: unquote('"\\e916"');
$icon-telephone: unquote('"\\e91f"');
$icon-map-marker-5: unquote('"\\e920"');
$icon-home-2: unquote('"\\e901"');
$icon-magnifying-glass-solid: unquote('"\\e915"');
$icon-pesquisa: unquote('"\\e934"');
$icon-credit-card: unquote('"\\e935"');
$icon-bill: unquote('"\\e936"');
$icon-credit-cards: unquote('"\\e937"');
$icon-notebook-of-contacts: unquote('"\\e92c"');
$icon-card: unquote('"\\e92b"');
$icon-diploma: unquote('"\\e919"');
$icon-exam: unquote('"\\e91a"');
$icon-multiple-users-silhouette: unquote('"\\e92a"');
$icon-ui-design: unquote('"\\e92e"');
$icon-location: unquote('"\\e92d"');
$icon-hotel: unquote('"\\e92f"');
$icon-conference: unquote('"\\e930"');
$icon-speaker: unquote('"\\e931"');
$icon-check: unquote('"\\e932"');
$icon-graduate-hat: unquote('"\\e933"');
$icon-https: unquote('"\\e925"');
$icon-folder: unquote('"\\e91e"');
$icon-clear: unquote('"\\e917"');
$icon-double_arrow: unquote('"\\e90f"');
$icon-keyboard_arrow_up: unquote('"\\e910"');
$icon-keyboard_arrow_right: unquote('"\\e911"');
$icon-keyboard_arrow_left: unquote('"\\e912"');
$icon-keyboard_arrow_down: unquote('"\\e913"');
$icon-remove: unquote('"\\e91c"');
$icon-location_on: unquote('"\\e921"');
$icon-add: unquote('"\\e909"');
$icon-folder1: unquote('"\\e938"');
$icon-clear1: unquote('"\\e91b"');
$icon-star-empty: unquote('"\\e900"');
$icon-rate: unquote('"\\e900"');
$icon-star: unquote('"\\e900"');
$icon-favorite: unquote('"\\e900"');
$icon-bookmark: unquote('"\\e900"');
$icon-youtube-play: unquote('"\\e923"');
$icon-caret-down: unquote('"\\e91d"');
$icon-circle-thin: unquote('"\\e902"');
$icon-circle: unquote('"\\e903"');
$icon-map-o: unquote('"\\e904"');
$icon-map: unquote('"\\e90a"');
$icon-map-marker: unquote('"\\e90b"');
$icon-calendar-o: unquote('"\\e90c"');
$icon-calendar: unquote('"\\e90d"');
$icon-whatsapp: unquote('"\\e905"');
$icon-linkedin: unquote('"\\e906"');
$icon-instagram: unquote('"\\e907"');
$icon-facebook: unquote('"\\e908"');
$icon-facebook-f: unquote('"\\e908"');

